{% load staticfiles mediacat_tags %}
<!doctype html>
<html>
<head>
  <title>mediacat</title>
  <link href='http://fonts.googleapis.com/css?family=Nunito:400,300,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Muli:300,400' rel='stylesheet' type='text/css' />
  <link rel="stylesheet" href="{% static 'mediacat/icons.css' %}" />
  <link rel="stylesheet" href="{% static 'mediacat/library.css' %}" />
</head>
<body>

<script>
 	var MEDIACAT_CONFIG = {
 		media: {
 			media: {% if media %}{{ media|jsonify }}{% else %}[]{% endif %}, 			
 			selectedMedia: null,
 			loading: false
 		},
 		categories: {
 			categories: {{ category_data|jsonify }}, 			
 			selectedPath: {{ path|jsonify }}, 			
            basePath: {{ base_path|jsonify }}
 		},
 		uploads: {
 			uploads: [], 			
 			selectedUpload: null
 		},
 		crops: {
 			crops: {},
 			selectedCrop: null,
 			availableCrops: {{ available_crops|jsonify }} 			
 		}
 	};
</script>
<script src="{% static 'mediacat/library.js' %}"></script>
</body>
</html>
