{% load staticfiles mediacat_tags %}
<!doctype html>
<html>
<head>
  <title>mediacat</title>
  <link href='http://fonts.googleapis.com/css?family=Nunito:400,300,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Muli:300,400' rel='stylesheet' type='text/css' />
  <link rel="stylesheet" href="{% static 'mediacat/icons.css' %}" />
  <link rel="stylesheet" href="{% static 'mediacat/library.css' %}" />
</head>
<body>

<script>
 	var MEDIACAT_CONFIG = {
 		media: {
 			selectedMedia: null,
 			selectedCrop: null,
 			loading: false,
 			media: {% if media %}{{ media|jsonify }}{% else %}[]{% endif %}
 		},
 		categories: {
 			selectedPath: {{ path|jsonify }},
 			categories: {{ category_data|jsonify }}
 		},
 		uploads: {
 			selectedUpload: null,
 			uploads: [],
 		}
 	};
</script>
<script src="{% static 'mediacat/library.js' %}"></script>
</body>
</html>
