{% load staticfiles mediacat_tags %}
<!doctype html>
<html>
<head>
  <title>mediacat</title>
  <link href='http://fonts.googleapis.com/css?family=Nunito:400,300,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Muli:300,400' rel='stylesheet' type='text/css' />
  <link rel="stylesheet" href="{% static 'mediacat/library.css' %}" />
  <script src="//cdn.polyfill.io/v1/polyfill.min.js"></script>
</head>
<body>

<script>
 	var MEDIACAT_CONFIG = {
 		media: {
 			media: {% if media %}{{ media|jsonify }}{% else %}[]{% endif %},
 			selectedMedia: {% if selectedMedia %}{{ selectedMedia.pk }}{% else %}null{% endif %},
      initialSelectedMedia: {% if selectedMedia %}{{ selectedMedia.pk }}{% else %}null{% endif %},
      sortBy: 'manual_asc',
      viewMode: 'grid',
 			loading: false
 		},
 		categories: {
 			categories: {{ category_data|jsonify }},
 			selectedPath: {{ path|jsonify }},
      basePath: {{ base_path|jsonify }}
 		},
 		uploads: {
 			uploads: [],
 			selectedUpload: null
 		},
 		crops: {
 			crops: {% if crops %}{{ crops|jsonify }}{% else %}[]{% endif %},
 			selectedCrop: {% if selectedCrop %}"{{ selectedCrop.uuid }}"{% else %}null{% endif %},
      initialSelectedCrop: {% if selectedCrop %}"{{ selectedCrop.uuid }}"{% else %}null{% endif %},
 			availableCrops: {{ available_crops|jsonify }},
      select: {% if select %}{{ select|jsonify }}{% else %}null{% endif %}
 		},
 		ui: {
 			listType: 'grid'
 		},
    dragging: {
        dragging: false,
        draggingMedia: null,
        dragTimeout: 600
    }
 	};
</script>
<script src="{% static 'mediacat/library.js' %}"></script>
</body>
</html>
