@import "./includes/colors";
@import "./includes/dimensions";
@import "./includes/loaders";

@import "./components/panel";
@import "./components/scrollpane";
@import "./components/select";
@import "./components/tabs";

@import "./components/thumbnail";


$ns: mediacat;

html {
  background-color: $background-color;
  color: $text-color;
  font-size: 14px;
  font-weight: 300;
  font-family: Nunito, sans-serif;
}

body {
  margin: 0;
  display: flex;
  flex-direction: row;
  scroll-behavior: smooth;
}

.#{$ns}-application {
  box-sizing: border-box;
  user-select: none;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;

  *, *:before, *:after {
    box-sizing: border-box;
  }

  .hidden-file {
    position: absolute;
    width: 0;
    height: 0;
    visibility: hidden;
  }

  .button-wrapper {
    display: inline-block;
  }

  button, .button {
    display: inline-block;
    border: 0;
    border-radius: 2px;
    padding: 5px 50px;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.0625em;
    height: 37px;
    line-height: 27px;
    margin: 0;
    text-align: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    cursor: pointer;

    .button-mask {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    &:hover {
      opacity: 0.8;
    }

    &:focus {
      outline: none;
    }

    &.disabled {
      opacity: 0.5;
      cursor: default;


      &:hover {
        opacity: 0.5;
      }
    }


    &.icon {
      font-size: 24px;
      padding: 5px 10px;
      width: 50px;
    }
  }

  .toolbar {
    display: flex;
    flex-direction: row;
    flex-grow: 1;

    label {
      display: inline-block;
      margin-right: 10px;
    }

    .spacer {
      flex-grow: 1;
    }

    .separator {
      width: 10px;
      flex-grow: 0;
      flex-shrink: 0;
    }

    select {
      flex-grow: 1;
    }

    .select {
      min-width: 230px;
    }

    .button-group {
      button, .button {
        border-radius: 0;
        margin-left: 1px;

        &:first-child {
          margin-left: 0;
          border-top-left-radius: 2px;
          border-bottom-left-radius: 2px;
        }

        &:last-child {
          border-top-right-radius: 2px;
          border-bottom-right-radius: 2px;
        }

      }
    }
  }

  .#{$ns}-header {
    background-color: desaturate($base-color, 49);
    height: 57px;
    padding: 10px;
    line-height: 37px;
    border-bottom: 1px $seperator-color solid;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;

    button, .button {
      background-color: #fff;
      color: desaturate($base-color, 49);
      box-shadow: 0 1px 0 0 darken(#00c0ff, 20);

      &.active {
        box-shadow: inset 0 1px 0 0 darken(#00c0ff, 30), inset 0 -1px 0 0 lighten(#00c0ff, 10);
        background-color: darken(#00c0ff, 20);
        color: lighten(desaturate($base-color, 49), 10);
      }

      &.icon {
        font-size: 24px;
      }
    }

    input {
      display: block;
      margin: 0;
      width: 100%;
      height: 30px;
      font-weight: 300;
      box-shadow: inset 0px 1px 0px 0px #89C0D2;

      &[type=search] {
        flex-grow: 1;
        padding: 5px 10px 5px 5px;
        line-height: 27px;
        font-size: 14px;
        font-family: Nunito, sans-serif;
        height: 37px;
        border: none;
        border-radius: 2px;
      }
    }
  }

  .#{$ns}-navigation {
    background-color: $sidebar-bg;
    width: $sidebar-width;
    flex-grow: 0;
    flex-shrink: 0;
    border-right: 1px $seperator-color solid;
    color: $sidebar-fg;
    display: flex;
    flex-direction: column;

    > .scrollpane {
      flex-grow: 1;
    }
  }

  .#{$ns}-uploads {
    border-top: 1px $seperator-color solid;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    > .scrollpane {
      flex-grow: 1;
      max-height: 200px;
    }
  }

  .#{$ns}-upload-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .#{$ns}-upload {
    padding: 10px;
  }

  .#{$ns}-categories {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow-y: scroll;
    flex-grow: 1;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
  }

  .#{$ns}-categories-label {
    display: block;
    padding: 5px 20px;
    cursor: pointer;
    position: relative;
    font-size: 14px;
    line-height: 1.5;

    .icon-arrow {
      display: inline-block;
      margin-right: 5px;
      font-size: 10px;
      line-height: 1.75;
      width: 15px;
      opacity: .75;
      vertical-align: baseline;
      text-align: center;
      transition: transform 0.15s ease;

      &:hover {
        transform: rotate(45deg);
      }
    }

    .icon-dash {
      display: inline-block;
      margin-right: 5px;
      font-size: 10px;
      line-height: 1.75;
      width: 15px;
      opacity: 0;
      text-align: center;
    }

    .loading {
      opacity: .35;
    }

    .linear-loader {
      left: auto;
      right: 5px;
    }

    .#{$ns}-categories-count {
      padding: 5px;
      opacity: .35;
      font-size: 12px;
      line-height: 1.75;
      position: absolute;
      top: 0;
      right: 10px;
    }

    &:hover, &.hover {
      color: #fff;
      background-color: lighten(#2b303b, 2.5);
    }
  }

  .#{$ns}-categories-node-selected {
    > .#{$ns}-categories-label {
      background-color: lighten(#2b303b, 10);
      color: #fff;
      text-shadow: 1px 1px 0 black;
    }
  }

  .#{$ns}-categories-node-open {
    > .#{$ns}-categories-label {
      .icon-arrow {
        transform: rotate(90deg);

        &:hover {
          transform: rotate(45deg);
        }
      }
    }
  }

  .#{$ns}-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  .#{$ns}-document {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    .#{$ns}-detail-wrapper {
      flex-grow: 1;
      background-color: darken(#232830, 10);
      position: relative;
      padding: 20px;
      display: flex;
    }

    .#{$ns}-detail, .#{$ns}-filmstrip {
      position: relative;
      flex-grow: 1;

      .detail-proxy-image {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }

      .detail-proxy-image-placeholder {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        opacity: 1;
        transition: opacity 1s ease;
      }

      .detail-proxy-image-bg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        opacity: 0;
        transition: opacity 1s ease;
      }

      img {
        width: 100%;
        height: 100%;
        opacity: 0;
        display: block;
      }
    }

    &.#{$ns}-document-grid {
      > .scrollpane {
        flex-grow: 1;
      }

      .#{$ns}-detail {
        flex-grow: 0;
        height: 0;
      }
    }

    &.#{$ns}-document-detail, &.#{$ns}-document-filmstrip {
      > .panel {
        flex-grow: 0;
        flex-shrink: 0;
        height: 270px;
      }

      .scrollpane {
        .scrollpane-content {
          display: inline-block;
        }

        .#{$ns}-thumbnail-list {
          display: inline-block;
          white-space: nowrap;

          li {
            display: inline-block;
          }
        }
      }
    }
  }

  .#{$ns}-cropper {
    position: absolute;
    z-index: 1;

    .#{$ns}-cropper-mask {
      background-color: rgba(0, 0, 0, .5);
      position: absolute;
    }

    .#{$ns}-cropper-selection {
      position: absolute;
      border: 1px #fff dashed;

      .#{$ns}-cropper-selection-mover {
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        cursor: move;
        z-index: 1;
      }

      .#{$ns}-cropper-selection-guide-x1,
      .#{$ns}-cropper-selection-guide-x2,
      .#{$ns}-cropper-selection-guide-y1,
      .#{$ns}-cropper-selection-guide-y2 {
        position: absolute;
        background-color: rgba(255, 255, 255, 0.35);
      }

      .#{$ns}-cropper-selection-guide-x1,
      .#{$ns}-cropper-selection-guide-x2 {
        width: 1px;
        top: 0;
        bottom: 0;
      }

      .#{$ns}-cropper-selection-guide-y1,
      .#{$ns}-cropper-selection-guide-y2 {
        height: 1px;
        left: 0;
        right: 0;
      }

      .#{$ns}-cropper-selection-guide-x1 {
        left: (100% / 3);
      }

      .#{$ns}-cropper-selection-guide-x2 {
        right: (100% / 3);
      }

      .#{$ns}-cropper-selection-guide-y1 {
        top: (100% / 3);
      }

      .#{$ns}-cropper-selection-guide-y2 {
        bottom: (100% / 3);
      }

      .#{$ns}-cropper-selection-top,
      .#{$ns}-cropper-selection-top-left,
      .#{$ns}-cropper-selection-left,
      .#{$ns}-cropper-selection-bottom-left,
      .#{$ns}-cropper-selection-bottom,
      .#{$ns}-cropper-selection-bottom-right,
      .#{$ns}-cropper-selection-right,
      .#{$ns}-cropper-selection-top-right {
        position: absolute;

        .#{$ns}-cropper-selection-handle {
          position: absolute;
          width: 9px;
          height: 9px;
          left: 50%;
          top: 50%;
          margin-top: -4px;
          margin-left: -4px;
          background-color: #fff
        }
      }

      .#{$ns}-cropper-selection-top {
        top: -5px;
        left: 5px;
        right: 5px;
        height: 9px;
        cursor: ns-resize;
      }

      .#{$ns}-cropper-selection-top-left {
        top: -5px;
        left: -5px;
        width: 9px;
        height: 9px;
        cursor: nwse-resize;
      }

      .#{$ns}-cropper-selection-left {
        top: 5px;
        left: -5px;
        width: 9px;
        bottom: 5px;
        cursor: ew-resize;
      }

      .#{$ns}-cropper-selection-bottom-left {
        bottom: -5px;
        left: -5px;
        width: 9px;
        height: 5px;
        cursor: nesw-resize;
      }

      .#{$ns}-cropper-selection-bottom {
        bottom: -5px;
        left: 5px;
        right: 5px;
        height: 9px;
        cursor: ns-resize;
      }

      .#{$ns}-cropper-selection-bottom-right {
        bottom: -5px;
        right: -5px;
        width: 9px;
        height: 9px;
        cursor: nwse-resize;
      }

      .#{$ns}-cropper-selection-right {
        top: 5px;
        right: -5px;
        width: 9px;
        bottom: 5px;
        cursor: ew-resize;
      }

      .#{$ns}-cropper-selection-top-right {
        top: -5px;
        right: -5px;
        width: 9px;
        height: 9px;
        cursor: nesw-resize;
      }
    }
  }

  .#{$ns}-information {
    background-color: $sidebar-bg;
    width: $sidebar-width;
    flex-grow: 0;
    flex-shrink: 0;
    border-left: 1px $seperator-color solid;
    color: $sidebar-fg;
    display: flex;
    flex-direction: column;

    > .#{$ns}-tabs {
      flex-grow: 1;
    }
  }

  .#{$ns}-information-panel {
    flex-shrink: 0;
    width: 320px;
    overflow-y: scroll;
    background-color: $sidebar-bg;
    padding: 10px;

    table {
      width: 100%;
      border: 1px $seperator-color solid;
    }

    th, td {
      padding: 5px;
    }

    td {
      width: 100%;
    }
  }

  .#{$ns}-drag-placeholder {
    position: absolute;
    z-index: 999;
    pointer-events:none;
    margin: 0;
    padding: 0;
    list-style-type: none;
    transform: scale(0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    li {
      margin: 0;
    }
  }
}

.tabs {
  .#{$ns}-crops-panel {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    > .scrollpane {
      flex-grow: 1;
    }
  }

  .#{$ns}-crop-type-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .#{$ns}-crop-type {
    margin: 10px;
    border: 1px solid darken(#232830, 7.5);
    background-color: #232830;    
    border-radius: 2px;
    font-size: 14px; 
    box-shadow: 0 1px 0 0 darken(#232830, 1);
  }


  .#{$ns}-crop-type-header {
    padding: 5px 10px;
    background-color: #2b303b;
    border-bottom: 1px solid darken(#2b303b, 7.5);
  }

  .#{$ns}-crop-list {
    margin: 0;
    padding: 0;
    list-style-type: none;

    .#{$ns}-crop {
      margin: 0;
      text-align: center;
      cursor: pointer;
      border-bottom: 2px solid darken(#2b303b, 7.5);

      &:last-child {
        border-bottom-width: 0;
      }

      .icon {
        font-size: 18px;
        line-height: 18px;
      }

      .icon-reject {
        font-size: 12px;
        line-height: 18px;
      }
    }

    .#{$ns}-crop-selected {
      border-color: #414858;
      background-color: darken(#414858, 5);
    }
  }

  .#{$ns}-crop-content {
    padding: 10px;
  }

  .#{$ns}-crop-footer {
    padding: 5px 10px;
    border-top: 1px solid darken(#2b303b, 7.5);
  }

  .#{$ns}-crop-preview-frame {
    margin: 0 auto 10px;
    background-color: #1a0000;
    position: relative;
    box-sizing: content-box;
  }

  .#{$ns}-crop-preview {
    position: absolute;
    background-color: #414858;
  }
}