$ns: mediacat;

@import './includes/colors';
@import './includes/dimensions';
@import './includes/loaders';

@import './components/common/button';
@import './components/common/header';
@import './components/common/input';
@import './components/common/panel';
@import './components/common/scrollpane';
@import './components/common/select';
@import './components/common/tabs';
@import './components/common/toolbar';

@import './components/application';
@import './components/categories';
@import './components/content';
@import './components/crop-list';
@import './components/crop-panel';
@import './components/cropper';
@import './components/detail-image';
@import './components/document';
@import './components/drag';
@import './components/information-panel';
@import './components/navigation';
@import './components/thumbnail';
@import './components/uploads';

html {
  background-color: $background-color;
  color: $text-color;
  font-family: Nunito, sans-serif;  
  font-size: 14px;
  font-weight: 300;
}

body {
  display: flex;
  flex-direction: row;
  margin: 0;  
}
