$ns: mediacat;

@import './variables/colors';
@import './variables/dimensions';
@import './variables/fonts';

@import './generated/icon';


.#{$ns}-mediainput-widget {
  position: relative;
  display: inline-block;

  &__preview {
    background-color: #ccc;
  }

  &__trigger {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 0;
    border: 1px #fff solid;
    background-color: rgba(0, 0, 0, .25);
    color: #fff;

    &:hover {
      color: #fff;
      background-color: rgba(0, 0, 0, .5);
    }
  }
}