@font-face {
	font-family: "mediacat-icons";
	src: url('./fonts/mediacat-icons.eot');
	src: url('./fonts/mediacat-icons.eot?#iefix') format('eot'),
		url('./fonts/mediacat-icons.woff') format('woff'),
		url('./fonts/mediacat-icons.ttf') format('truetype'),
		url('./fonts/mediacat-icons.svg#mediacat-icons') format('svg');
}

.icon:before {
	font-family: "mediacat-icons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.icon-arrow:before {
	content: "\E001";
}

.icon-dash:before {
	content: "\E002";
}

.icon-detail:before {
	content: "\E003";
}

.icon-empty-star:before {
	content: "\E004";
}

.icon-filmstrip:before {
	content: "\E005";
}

.icon-grid:before {
	content: "\E006";
}

.icon-reject:before {
	content: "\E007";
}

.icon-star:before {
	content: "\E008";
}

.icon-tick:before {
	content: "\E009";
}

.icon-upload:before {
	content: "\E00A";
}
