.mediacat-Icon{display:inline-block;width:1pc;height:1pc;overflow:hidden;vertical-align:middle;pointer-events:inherit}.mediacat-Icon--small{
  width:9pt;
  height:9pt}.mediacat-Icon--medium{
  width:1pc;
  height:1pc}.mediacat-Icon--large{
  width:24px;
  height:24px}.mediacat-Icon__Container{
  width:100%;
  height:100%;
  display:block}.mediacat-action{color:#a9afbc;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-flex:0;-webkit-flex-grow:0;-ms-flex-positive:0;flex-grow:0;-webkit-flex-shrink:0;-ms-flex-negative:0;flex-shrink:0;line-height:1;padding:5px 7px;text-align:left}.mediacat-action+.mediacat-action{
  border-left:1px solid #121419}.mediacat-action--is-disabled{
  opacity:.25}.mediacat-action--is-enabled:hover{
  color:#d4d7de}.mediacat-action--fill{-webkit-box-flex:1;-webkit-flex-grow:1;-ms-flex-positive:1;flex-grow:1}.mediacat-action__caption{
  display:block;
  line-height:24px;
  margin-left:5px}.mediacat-action-bar{background-color:rgba(20,24,31,.7);border-bottom:1px solid #121419;border-top:1px solid #121419;color:#676f83;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;font-size:14px}.mediacat-button{border:0;border-radius:2px;cursor:pointer;display:inline-block;-webkit-box-flex:0;-webkit-flex-grow:0;-ms-flex-positive:0;flex-grow:0;-webkit-flex-shrink:0;-ms-flex-negative:0;flex-shrink:0;font-size:14px;height:38px;line-height:38px;margin:0;overflow:hidden;padding:0 10px;position:relative;text-align:center}.mediacat-button:hover{
  opacity:.8}.mediacat-button:focus{
  outline:0}.mediacat-button--is-disabled{
  cursor:not-allowed;
  opacity:.5}.mediacat-button--is-disabled:hover{
  opacity:.5}.mediacat-button--theme-white-on-teal{
  background-color:#fff;
  color:#3ea2c1}.mediacat-button--theme-white-on-teal--is-active{
  background-color:#2c7287;
  box-shadow:inset 0 1px 0 0 #1f5160,0 1px 0 0 #78bed3;
  color:#65b5cd}.mediacat-button--theme-dark-grey{
  background-color:#2b303b;
  border:1px solid #1c1f26;
  box-shadow:0 1px 0 0 #292e38;
  color:#404859;
  height:30px;
  line-height:28px}.mediacat-button--theme-dark-grey--is-active{
  background-color:#2c7287;
  box-shadow:0 1px 0 0 #1f5160,inset 0 -1px 0 0 #78bed3;
  color:#65b5cd}.mediacat-button--action-danger{
  background-color:#d9534f;
  border-color:#d43f3a;
  color:#fff}.mediacat-button__caption{
  display:inline-block;
  font-weight:75pt;
  line-height:1;
  margin-left:5px}.mediacat-button__mask{
  bottom:0;
  left:0;
  position:absolute;
  right:0;
  top:0}.mediacat-button-group{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row}.mediacat-button-group .mediacat-button{
  border-radius:0;
  margin-left:1px}.mediacat-button-group .mediacat-button:first-child{
  border-bottom-left-radius:2px;
  border-top-left-radius:2px;
  margin-left:0}.mediacat-button-group .mediacat-button:last-child{
  border-bottom-right-radius:2px;
  border-top-right-radius:2px}.mediacat-column{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-box-flex:1;-webkit-flex-grow:1;-ms-flex-positive:1;flex-grow:1}.mediacat-column:first-of-type{
  border-right:1px #000 solid}.mediacat-column:last-of-type{
  border-left:1px #000 solid}.mediacat-column--sidebar{
  background-color:#2b303b;
  color:#a6aebf;-webkit-box-flex:0;-webkit-flex-grow:0;-ms-flex-positive:0;flex-grow:0;-webkit-flex-shrink:0;-ms-flex-negative:0;flex-shrink:0;
  width:20pc}.mediacat-input{box-shadow:inset 0 1px 0 0 #d9d9d9;display:block;font-weight:300;height:30px;margin:0;width:100%}.mediacat-input [type=search],.mediacat-input--search{
  border:0;
  border-radius:2px;-webkit-box-flex:1;-webkit-flex-grow:1;-ms-flex-positive:1;flex-grow:1;
  font-family:Nunito,sans-serif;
  font-size:14px;
  height:38px;
  line-height:28px;
  padding:5px 10px 5px 5px}.mediacat-input--hidden-file{
  height:0;
  position:absolute;
  visibility:hidden;
  width:0}.mediacat-list{list-style-type:none;margin:0;padding:0}.mediacat-list--horizontal{
  white-space:nowrap}.mediacat-list--is-dragging{
  pointer-events:none;
  position:absolute;
  z-index:4}.mediacat-list__item{
  margin:0;
  padding:0}.mediacat-list__item--grid,.mediacat-list__item--horizontal{
  display:inline-block}@-webkit-keyframes a{0%,80%,to{-webkit-transform:scale(0);transform:scale(0)}40%{-webkit-transform:scale(1);transform:scale(1)}}@keyframes a{0%,80%,to{-webkit-transform:scale(0);transform:scale(0)}40%{-webkit-transform:scale(1);transform:scale(1)}}.mediacat-radialloader{height:20px;left:50%;margin:-10px 0 0 -10px;position:absolute;top:50%;width:20px}.mediacat-radialloader__circle{
  //animation:a 1.2s infinite ease-in-out;-webkit-animation-fill-mode:both;animation-fill-mode:both;
  background-color:#16181d;
  border-radius:100%;
  height:6px;
  position:absolute;
  width:6px}.mediacat-radialloader__circle--a,.mediacat-radialloader__circle--e,.mediacat-radialloader__circle--i{
  left:0;
  top:0}.mediacat-radialloader__circle--b,.mediacat-radialloader__circle--f,.mediacat-radialloader__circle--j{
  right:0;
  top:0}.mediacat-radialloader__circle--c,.mediacat-radialloader__circle--g,.mediacat-radialloader__circle--k{
  bottom:0;
  right:0}.mediacat-radialloader__circle--d,.mediacat-radialloader__circle--h,.mediacat-radialloader__circle--l{
  bottom:0;
  left:0}.mediacat-radialloader__circle--b{-webkit-animation-delay:-.9s;animation-delay:-.9s}.mediacat-radialloader__circle--c{-webkit-animation-delay:-.6s;animation-delay:-.6s}.mediacat-radialloader__circle--d{-webkit-animation-delay:-.3s;animation-delay:-.3s}.mediacat-radialloader__circle--e{-webkit-animation-delay:-1.1s;animation-delay:-1.1s}.mediacat-radialloader__circle--f{-webkit-animation-delay:-.8s;animation-delay:-.8s}.mediacat-radialloader__circle--g{-webkit-animation-delay:-.5s;animation-delay:-.5s}.mediacat-radialloader__circle--h{-webkit-animation-delay:-.2s;animation-delay:-.2s}.mediacat-radialloader__circle--i{-webkit-animation-delay:-1s;animation-delay:-1s}.mediacat-radialloader__circle--j{-webkit-animation-delay:-.7s;animation-delay:-.7s}.mediacat-radialloader__circle--k{-webkit-animation-delay:-.4s;animation-delay:-.4s}.mediacat-radialloader__circle--l{-webkit-animation-delay:-.1s;animation-delay:-.1s}.mediacat-radialloader__container{
  height:100%;
  position:absolute;
  width:100%}.mediacat-radialloader__container--b{-webkit-transform:rotateZ(45deg);transform:rotateZ(45deg)}.mediacat-radialloader__container--c{-webkit-transform:rotateZ(90deg);transform:rotateZ(90deg)}.mediacat-linearloader{height:24px;margin:0;position:relative;width:6pc}.mediacat-linearloader--medium{
  height:18px;
  width:72px}.mediacat-linearloader--small{
  height:9pt;
  width:3pc}.mediacat-linearloader--tiny{
  height:8px;
  width:2pc}.mediacat-linearloader__circle{-webkit-animation:a 1.4s infinite ease-in-out;animation:a 1.4s infinite ease-in-out;-webkit-animation-fill-mode:both;animation-fill-mode:both;
  background-color:#fff;
  border-radius:100%;
  display:inline-block;
  height:100%;
  left:0;
  opacity:.5;
  position:absolute;
  top:0;
  width:25%}.mediacat-linearloader__circle--a{-webkit-animation-delay:-.32s;animation-delay:-.32s}.mediacat-linearloader__circle--b{-webkit-animation-delay:-.16s;animation-delay:-.16s;
  left:37.5%}.mediacat-linearloader__circle--c{
  left:75%}.mediacat-panel{-webkit-box-align:stretch;-webkit-align-items:stretch;-ms-flex-align:stretch;align-items:stretch;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-box-flex:1;-webkit-flex-grow:1;-ms-flex-positive:1;flex-grow:1}.mediacat-panel--fixed{-webkit-box-flex:0;-webkit-flex-grow:0;-ms-flex-positive:0;flex-grow:0;-webkit-flex-shrink:0;-ms-flex-negative:0;flex-shrink:0}.mediacat-panel+.mediacat-panel{
  border-top:1px #000 solid}.mediacat-progress-bar{background-color:#191e25;border-radius:2px;height:4px;position:relative;width:100%}.mediacat-progress-bar__progress{
  background-color:#00a6c3;
  border-radius:2px;
  height:4px;
  left:0;
  position:absolute;
  top:0}.mediacat-progress-bar__progress--is-complete{
  background-color:#667285}.mediacat-scrollpane{-webkit-box-flex:1;-webkit-flex-grow:1;-ms-flex-positive:1;flex-grow:1;position:relative}.mediacat-scrollpane__content{
  display:inline-block;
  min-width:100%}.mediacat-scrollpane__viewport{
  bottom:0;
  left:0;
  overflow:hidden;
  position:absolute;
  right:0;
  top:0}.mediacat-scrollpane__viewport--scrolls-vertically{
  right:18px}.mediacat-scrollpane__viewport--scrolls-horizontally{
  bottom:18px}.mediacat-scrollbar{background-color:rgba(0,0,0,.25);box-shadow:inset 1px 1px 0 0 rgba(0,0,0,.125);position:absolute}.mediacat-scrollbar--horizontal{
  border-top:1px solid #000;
  bottom:0;
  height:18px;
  left:0;
  right:0}.mediacat-scrollbar--vertical{
  border-left:1px solid #000;
  bottom:0;
  right:0;
  top:0;
  width:18px}.mediacat-scrollbar__handle{
  background-color:#414858;
  border-radius:2px;
  bottom:0;
  box-shadow:1px 1px 0 0 rgba(0,0,0,.125);
  cursor:pointer;
  left:0;
  position:absolute;
  right:0;
  top:0}.mediacat-scrollbar__track{
  bottom:2px;
  left:2px;
  position:absolute;
  right:2px;
  top:2px}.mediacat-select{background-color:#2b303b;border:1px solid #1c1f26;border-radius:2px;box-shadow:0 1px 0 0 #292e38;cursor:pointer;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;font-size:14px;line-height:28px;position:relative;width:250px}.mediacat-select--is-disabled{
  opacity:.5}.mediacat-select:focus{
  outline:0}.mediacat-select--is-open{
  border-bottom-left-radius:0;
  border-bottom-right-radius:0}.mediacat-select--stretch,.mediacat-select__value-label{
  -webkit-box-flex:1;
  -webkit-flex-grow:1;
  -ms-flex-positive:1;
  flex-grow:1}.mediacat-select__value-label{
  padding:0 10px}.mediacat-select__placeholder{
  opacity:.5}.mediacat-select__open-button{
  border-left:1px solid #1c1f26;
  display:inline-block;-webkit-box-flex:0;-webkit-flex-grow:0;-ms-flex-positive:0;flex-grow:0;-webkit-flex-shrink:0;-ms-flex-negative:0;flex-shrink:0;
  text-align:center;
  width:30px}.mediacat-select__options{
  background:#2b303b;
  border:1px solid #1c1f26;
  border-top-width:0;
  box-shadow:0 4px 5px rgba(0,0,0,.15);
  left:-1px;
  list-style-type:none;
  margin:0;
  max-height:305px;
  overflow:auto;
  padding:0;
  position:absolute;
  right:-1px;
  top:30px;
  z-index:2}.mediacat-select__option{
  cursor:pointer;
  padding:2px 10px}.mediacat-select__option--is-selected{
  background:#414858}.mediacat-table{border-collapse:collapse;color:#8693a6;font-weight:100;margin:0;width:100%}.mediacat-table th{
  font-weight:100}.mediacat-table--grid td,.mediacat-table--grid th{
  padding:5px}.mediacat-table--simple tr td,.mediacat-table--simple tr th{
  border-bottom:1px #3d4859 solid;
  line-height:24px;
  padding:5px 0}.mediacat-table--simple tr:last-child td,.mediacat-table--simple tr:last-child th{
  border-bottom-width:0}.mediacat-table--simple th{
  color:#8693a6;
  padding-right:10px}.mediacat-table--simple td{
  color:#a9b8ce;
  text-align:right}.mediacat-tabs{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-box-flex:1;-webkit-flex-grow:1;-ms-flex-positive:1;flex-grow:1;margin:0;padding:0}.mediacat-tabs__buttons-wrapper{
  background-color:#20242c;
  border-bottom:1px #000 solid;
  box-shadow:inset 0 1px 2px 0 #20242c,inset 0 -1px 2px 0 #272b35;
  height:41px;
  padding:5px}.mediacat-tabs__buttons{
  box-shadow:0 1px 0 0 #292e38;
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;
  list-style-type:none;
  margin:0;
  padding:0}.mediacat-tabs__button,.mediacat-tabs__buttons{
  -webkit-flex-shrink:0;
  -ms-flex-negative:0;
  flex-shrink:0}.mediacat-tabs__button{-webkit-box-align:stretch;-webkit-align-items:stretch;-ms-flex-align:stretch;align-items:stretch;
  background-color:#2b303b;
  border:1px solid #414858;
  box-shadow:0 1px 0 0 #20242c;
  cursor:pointer;-webkit-box-flex:1;-webkit-flex-grow:1;-ms-flex-positive:1;flex-grow:1;
  line-height:28px;
  margin:0;
  text-align:center}.mediacat-tabs__button:first-child{
  border-bottom-left-radius:2px;
  border-right-width:0;
  border-top-left-radius:2px}.mediacat-tabs__button:last-child{
  border-bottom-right-radius:2px;
  border-top-right-radius:2px}.mediacat-tabs__button:hover{
  background-color:#363c4a}.mediacat-tabs__button--is-active{
  background-color:#414858}.mediacat-tabs__panels{
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  list-style-type:none;
  margin:0;
  padding:0}.mediacat-tabs__panel,.mediacat-tabs__panels{
  -webkit-box-orient:horizontal;
  -webkit-box-direction:normal;
  -webkit-flex-direction:row;
  -ms-flex-direction:row;
  flex-direction:row;
  -webkit-box-flex:1;
  -webkit-flex-grow:1;
  -ms-flex-positive:1;
  flex-grow:1}.mediacat-tabs__panel{
  display:none}.mediacat-tabs__panel--is-active{
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex}.mediacat-toolbar{-webkit-box-align:stretch;-webkit-align-items:stretch;-ms-flex-align:stretch;align-items:stretch;border-bottom:1px #000 solid;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-box-flex:0;-webkit-flex-grow:0;-ms-flex-positive:0;flex-grow:0;-webkit-flex-shrink:0;-ms-flex-negative:0;flex-shrink:0;height:59px;line-height:38px;padding:10px}.mediacat-toolbar--theme-white-on-teal{
  background-color:#3ea2c1}.mediacat-toolbar--theme-dark-grey{
  background-color:#404859;
  color:#a6aebf;
  height:41px;
  line-height:30px;
  padding:5px}.mediacat-toolbar label{
  display:inline-block;
  margin-right:10px}.mediacat-toolbar__title{
  display:inline-block}.mediacat-toolbar__spacer,.mediacat-toolbar__title{
  -webkit-box-flex:1;
  -webkit-flex-grow:1;
  -ms-flex-positive:1;
  flex-grow:1}.mediacat-toolbar__separator{-webkit-box-flex:0;-webkit-flex-grow:0;-ms-flex-positive:0;flex-grow:0;-webkit-flex-shrink:0;-ms-flex-negative:0;flex-shrink:0}.mediacat-toolbar__separator--theme-white-on-teal{
  width:10px}.mediacat-toolbar__separator--theme-dark-grey{
  width:5px}.mediacat-application{bottom:0;box-sizing:border-box;left:0;position:absolute;right:0;top:0;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.mediacat-application *,.mediacat-application :after,.mediacat-application :before{
  box-sizing:border-box}.mediacat-application__flex-container{
  bottom:0;
  box-sizing:border-box;
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;
  left:0;
  position:absolute;
  right:0;
  top:0;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.mediacat-applications-table{background-color:rgba(0,0,0,.25);border-bottom:1px solid #13161b;box-shadow:inset 0 1px 0 0 #1e2229}.mediacat-applications-table td,.mediacat-applications-table th{
  border-right:1px solid #13161b;
  font-size:9pt}.mediacat-applications-table td:last-child,.mediacat-applications-table th:last-child{
  border-right-width:0}.mediacat-applications-table th{
  border-bottom:1px solid #13161b}.mediacat-association{border-bottom:1px #3d4859 solid;padding:10px 0;color:#8693a6;font-size:14px;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row}.mediacat-association__info{-webkit-box-flex:1;-webkit-flex-grow:1;-ms-flex-positive:1;flex-grow:1;
  padding-right:10px}.mediacat-association__actions{-webkit-align-self:center;-ms-flex-item-align:center;align-self:center;-webkit-box-flex:0;-webkit-flex-grow:0;-ms-flex-positive:0;flex-grow:0}.mediacat-association__type{
  color:#66748a;
  font-size:9pt}.mediacat-list__item:last-child .mediacat-association{
  border-bottom-width:0}.mediacat-category__info{
  cursor:pointer;
  display:block;
  font-size:14px;
  line-height:22px;
  padding:4px 20px;
  position:relative}.mediacat-category__info--is-hovered,.mediacat-category__info:hover{
  background-color:#313744;
  color:#fff}.mediacat-category__handle{
  display:inline-block;
  height:22px;
  margin-right:1px;
  opacity:.75;
  text-align:center;-webkit-transition:-webkit-transform .15s ease;transition:transform .15s ease;
  vertical-align:bottom;
  width:22px}.mediacat-category__handle:hover{-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg)}.mediacat-category__handle--is-open{-webkit-transform:rotate(90deg);-ms-transform:rotate(90deg);transform:rotate(90deg)}.mediacat-category__count{
  font-size:9pt;
  opacity:.35;
  padding:5px;
  position:absolute;
  right:10px;
  top:0}.mediacat-category__loader{
  opacity:.6;
  position:absolute;
  right:15px;
  top:11px}.mediacat-category--is-selected>.mediacat-category__info{
  background-color:#404859;
  color:#fff;
  text-shadow:1px 1px 0 #000}.mediacat-crop{background-color:#20232b;border:1px solid #121419;border-radius:2px;box-shadow:0 1px 2px 0 #20252c;cursor:pointer;margin:5px;text-align:center}.mediacat-crop:last-child{
  border-bottom-width:0}.mediacat-crop--is-selected{
  background-color:#363c49}.mediacat-crop__content{
  padding:10px}.mediacat-crop__preview-frame{
  background-color:#1a0000;
  margin:0 auto;
  position:relative}.mediacat-crop__preview-wrapper{
  bottom:0;
  left:0;
  overflow:hidden;
  position:absolute;
  right:0;
  top:0}.mediacat-crop__preview{
  background-color:#414858;
  border:1px solid #1a0000;
  position:absolute}.mediacat-crop__unsaved-label{
  font-size:14px;
  height:100%;
  line-height:1;
  margin-top:-7px;
  position:absolute;
  text-align:center;
  top:50%;
  width:100%;
  z-index:1}.mediacat-cropper{position:absolute;z-index:1}.mediacat-cropper__mask{
  background-color:rgba(0,0,0,.5);
  position:absolute}.mediacat-cropper__selection{
  border:1px #fff dashed;
  position:absolute}.mediacat-cropper__mover{
  bottom:5px;
  cursor:move;
  left:5px;
  position:absolute;
  right:5px;
  top:5px;
  z-index:1}.mediacat-cropper__guide{
  background-color:hsla(0,0%,100%,.35);
  position:absolute}.mediacat-cropper__guide--x1,.mediacat-cropper__guide--x2{
  bottom:0;
  top:0;
  width:1px}.mediacat-cropper__guide--y1,.mediacat-cropper__guide--y2{
  height:1px;
  left:0;
  right:0}.mediacat-cropper__guide--x1{
  left:(100%/3)}.mediacat-cropper__guide--x2{
  right:(100%/3)}.mediacat-cropper__guide--y1{
  top:(100%/3)}.mediacat-cropper__guide--y2{
  bottom:(100%/3)}.mediacat-cropper__selection-handle{
  position:absolute}.mediacat-cropper__selection-handle--top{
  cursor:ns-resize;
  height:9px;
  left:5px;
  right:5px;
  top:-5px}.mediacat-cropper__selection-handle--top-left{
  cursor:nwse-resize;
  height:9px;
  left:-5px;
  top:-5px;
  width:9px}.mediacat-cropper__selection-handle--left{
  bottom:5px;
  cursor:ew-resize;
  left:-5px;
  top:5px;
  width:9px}.mediacat-cropper__selection-handle--bottom-left{
  bottom:-5px;
  cursor:nesw-resize;
  height:5px;
  left:-5px;
  width:9px}.mediacat-cropper__selection-handle--bottom{
  bottom:-5px;
  cursor:ns-resize;
  height:9px;
  left:5px;
  right:5px}.mediacat-cropper__selection-handle--bottom-right{
  bottom:-5px;
  cursor:nwse-resize;
  height:9px;
  right:-5px;
  width:9px}.mediacat-cropper__selection-handle--right{
  bottom:5px;
  cursor:ew-resize;
  right:-5px;
  top:5px;
  width:9px}.mediacat-cropper__selection-handle--top-right{
  cursor:nesw-resize;
  height:9px;
  right:-5px;
  top:-5px;
  width:9px}.mediacat-cropper__selection-handle__box{
  background-color:#fff;
  height:9px;
  left:50%;
  margin-left:-4px;
  margin-top:-4px;
  position:absolute;
  top:50%;
  width:9px}.mediacat-detail{background-color:#0d0f12;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;padding:20px;position:relative}.mediacat-detail,.mediacat-detail__content{
  -webkit-box-flex:1;
  -webkit-flex-grow:1;
  -ms-flex-positive:1;
  flex-grow:1}.mediacat-detail__content{
  position:relative}.mediacat-detail__proxy-image,.mediacat-detail__proxy-image__bg,.mediacat-detail__proxy-image__placeholder{
  bottom:0;
  left:0;
  position:absolute;
  right:0;
  top:0}.mediacat-detail__proxy-image__bg,.mediacat-detail__proxy-image__placeholder{
  background-position:50% 50%;
  background-repeat:no-repeat;
  background-size:cover;-webkit-transition:opacity 1s ease;transition:opacity 1s ease}.mediacat-detail__proxy-image__placeholder{
  opacity:1}.mediacat-detail__proxy-image__bg{
  opacity:0;
  z-index:1}.mediacat-detail__proxy-image__image{
  display:block;
  height:100%;
  opacity:0;
  width:100%}.mediacat-document{background-color:#1c2026;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column}.mediacat-document,.mediacat-information>.mediacat-tabs{
  -webkit-box-flex:1;
  -webkit-flex-grow:1;
  -ms-flex-positive:1;
  flex-grow:1}.mediacat-information .media-rating .mediacat-icon--reject,.mediacat-information .media-rating .no-rating{
  opacity:.25}.mediacat-information .media-rating .mediacat-icon--reject:hover{
  opacity:1}.mediacat-information-panel{background-color:#2b303b;-webkit-flex-shrink:0;-ms-flex-negative:0;flex-shrink:0;overflow-y:scroll;padding:10px;width:20pc}.mediacat-information-panel table{
  border:1px #000 solid;
  width:100%}.mediacat-information-panel td,.mediacat-information-panel th{
  padding:5px}.mediacat-information-panel td{
  width:100%}.mediacat-information-section__heading{
  background-color:#3d4859;
  box-shadow:0 1px 0 0 #232830,0 -1px 0 0 #232830;
  color:hsla(0,0%,100%,.7);
  padding:7px}.mediacat-information-section__content{
  padding:7px}.mediacat-proxy-image{height:100%;position:relative;width:100%}.mediacat-proxy-image__bg{
  background-position:50% 50%;
  background-repeat:no-repeat;
  background-size:contain;
  height:100%;
  opacity:0;-webkit-transition:opacity 1s ease;transition:opacity 1s ease;
  width:100%}.mediacat-proxy-image__image{
  display:block;
  position:absolute;
  user-drag:none}.mediacat-proxy-image--disable-animation .mediacat-proxy-image__bg,.mediacat-proxy-image--is-preloaded .mediacat-proxy-image__b{-webkit-transition:none;transition:none}.mediacat-thumbnails{display:inline-block;padding:5px}.mediacat-thumbnails--is-dragging{
  display:block;
  pointer-events:none;
  position:absolute;
  z-index:3}.mediacat-thumbnail{background-color:#2b303b;background-size:cover;border:1px #1c2026 solid;cursor:pointer;-webkit-flex-shrink:0;-ms-flex-negative:0;flex-shrink:0;margin:0;margin-bottom:-1px;margin-right:-1px;position:relative}.mediacat-thumbnail--rejected{
  background-color:#22262f}.mediacat-thumbnail--is-selected{
  background-color:#414858}.mediacat-thumbnail--is-dragging{
  box-shadow:0 0 10px rgba(0,0,0,.5);
  pointer-events:none;-webkit-transform:scale(.5);-ms-transform:scale(.5);transform:scale(.5)}.mediacat-thumbnail__content{
  height:180px;
  padding:9px;
  width:180px}.mediacat-thumbnail__footer{
  background-color:rgba(0,0,0,.125);
  border-top:1px #20242c solid;
  color:#2b303b;
  padding:5px;
  text-align:center}.mediacat-thumbnail__dragover{
  background-color:#3ea2c1;
  border-radius:2px;
  bottom:-2px;
  position:absolute;
  top:-2px;
  width:5px;
  z-index:2}.mediacat-thumbnail__dragover--before{
  left:-3px}.mediacat-thumbnail__dragover--after{
  right:-3px}.mediacat-uploads{border-top:1px #000 solid;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-flex-shrink:0;-ms-flex-negative:0;flex-shrink:0}.mediacat-upload{border-bottom:1px #1b2129 solid;padding:10px}.mediacat-upload__name{
  color:#8693a6;
  font-size:14px;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  width:100%}.mediacat-upload__status{
  color:#4e5b6d;
  font-size:9pt;
  margin-bottom:10px}html{background-color:#000;color:#fff;font-family:Nunito,sans-serif;font-size:14px;font-weight:300}body{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;margin:0}svg{fill:currentColor}