.mediacat-Icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  overflow: hidden;
  vertical-align: middle;
  pointer-events: inherit;
}


.mediacat-Icon--small {
  width: 12px;
  height: 12px;
}


.mediacat-Icon--medium {
  width: 16px;
  height: 16px;
}


.mediacat-Icon--large {
  width: 24px;
  height: 24px;
}


.mediacat-Icon__Container {
  width: 100%;
  height: 100%;
  display: block;
}


.mediacat-mediainput-widget {
  position: relative;
  display: inline-block;
}


.mediacat-mediainput-widget__preview {
  background-color: #ccc;
}


.mediacat-mediainput-widget__trigger {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 0;
  border: 1px #fff solid;
  background-color: rgba(0, 0, 0, .25);
  color: #fff;
  line-height: 1;
}


.mediacat-mediainput-widget__trigger:hover {
  color: #fff;
  background-color: rgba(0, 0, 0, .5);
}