.#{$ns}-category {
  &__info {
    cursor: pointer;
    display: block;
    font-size: 14px;
    line-height: 22px;
    padding: 4px 20px;
    position: relative;

    &:hover, 
    &.#{$ns}-is-hovered {
      background-color: lighten(#2b303b, 2.5);
      color: #fff;
    }

    .loading {
      opacity: .35;
    }

    .linear-loader {
      left: auto;
      right: 5px;
    }
  }

  &__handle {
    display: inline-block;
    height: 22px;
    margin-right: 1px;
    opacity: .75;
    text-align: center;
    transition: transform .15s ease;
    vertical-align: bottom;
    width: 22px;

    &:hover {
      transform: rotate(45deg);
    }

    &--open {
      transform: rotate(90deg);
    }
  }

  &__count {
    font-size: 12px;
    opacity: .35;
    padding: 5px;
    position: absolute;
    right: 10px;
    top: 0;    
  }

  &--selected > &__label {
    background-color: lighten(#2b303b, 10);
    color: #fff;
    text-shadow: 1px 1px 0 #000;
  } 
}
