.#{$ns}-list--categories {
 
}

.#{$ns}-list--sub-categories {
}

.#{$ns}-category {

  &__label {
    cursor: pointer;
    display: block;
    font-size: 14px;
    line-height: 1.5;
    padding: 4px 20px;
    position: relative;

    &:hover, 
    &--hover {
      background-color: lighten(#2b303b, 2.5);
      color: #fff;
    }

    .#{$ns}-icon--arrow {
      margin-right: 5px;
      opacity: .75;
      transition: transform .15s ease;

      &:hover {
        transform: rotate(45deg);
      }
    }

    .#{$ns}-icon--dash {
      margin-right: 5px;
      opacity: 0;
    }

    .loading {
      opacity: .35;
    }

    .linear-loader {
      left: auto;
      right: 5px;
    }

  }

  &__count {
    font-size: 12px;
    line-height: 1.75;
    opacity: .35;
    padding: 5px;
    position: absolute;
    right: 10px;
    top: 0;    
  }

  &--selected > &__label {
    background-color: lighten(#2b303b, 10);
    color: #fff;
    text-shadow: 1px 1px 0 #000;
  }

  &--open > &__label {
    .#{$ns}--icon {
      transform: rotate(90deg);

      &:hover {
        transform: rotate(45deg);
      }
    }
  }
  
}
