.#{$ns}-crop {
  background-color: #20232B;
  border-radius: 2px;
  border: 1px solid #121419;
  box-shadow: 0 1px 2px 0 darken(#232830, 1);
  cursor: pointer;
  text-align: center;
  margin: 5px;

  &:last-child {
    border-bottom-width: 0;
  }

  &--is-selected {
    background-color: darken(#414858, 5);
  }

  &__content {
    padding: 10px;
  }

  &__preview-frame {
    background-color: #1a0000;
    margin: 0 auto;
    position: relative;
  }

  &__preview-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
  }

  &__preview {
    background-color: #414858;
    position: absolute;
    border: 1px solid #1a0000;
  }

  &__unsaved-label {
    position: absolute;
    z-index: 1;
    width: 100%;
    text-align: center;
    height: 100%;
    font-size: 14px;
    line-height: 1;
    top: 50%;
    margin-top: -7px;
  }
}
