.#{$ns}-list--crop-groups {
  padding: 5px;
}

.#{$ns}-crop-group {
  background-color: #232830;    
  border: 1px solid darken(#232830, 7.5);
  border-radius: 2px;
  box-shadow: 0 1px 0 0 darken(#232830, 1);
  font-size: 14px; 
  margin-bottom: 5px;

  &:last-of-type {
    margin-bottom: 0;
  }

  &__header {
    background-color: #2b303b;
    border-bottom: 1px solid darken(#2b303b, 7.5);
    padding: 5px 10px;
  }
}

.#{$ns}-crop {
  border-bottom: 2px solid darken(#2b303b, 7.5);
  cursor: pointer;
  text-align: center;

  &:last-child {
    border-bottom-width: 0;
  }

  &--is-selected {
    background-color: darken(#414858, 5);
    border-color: #414858;      
  }

  &__content {
    padding: 10px;
  }

  &__footer {
    border-top: 1px solid darken(#2b303b, 7.5);
    padding: 5px 10px;
  }

  &__preview-frame {
    background-color: #1a0000;
    box-sizing: content-box;
    margin: 0 auto 10px;
    position: relative;
  }

  &__preview {
    background-color: #414858;
    position: absolute;    
  }
}
