.#{$ns}-crops-panel {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  > .scrollpane {
    flex-grow: 1;
  }
}

.#{$ns}-crop-type-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.#{$ns}-crop-type {
  background-color: #232830;    
  border: 1px solid darken(#232830, 7.5);
  border-radius: 2px;
  box-shadow: 0 1px 0 0 darken(#232830, 1);
  font-size: 14px; 
  margin: 10px;
}

.#{$ns}-crop-type-header {
  background-color: #2b303b;
  border-bottom: 1px solid darken(#2b303b, 7.5);
  padding: 5px 10px;
} 
