.#{$ns}-cropper {
  position: absolute;
  z-index: 1;

  .#{$ns}-cropper-mask {
    background-color: $crop-mask-bg;
    position: absolute;
  }

  .#{$ns}-cropper-selection {
    border: 1px #fff dashed;
    position: absolute;

    .#{$ns}-cropper-selection-mover {
      bottom: 5px;
      cursor: move;
      left: 5px;
      position: absolute;
      right: 5px;
      top: 5px;
      z-index: 1;
    }

    .#{$ns}-cropper-selection-guide-x1,
    .#{$ns}-cropper-selection-guide-x2,
    .#{$ns}-cropper-selection-guide-y1,
    .#{$ns}-cropper-selection-guide-y2 {
      background-color: rgba(255, 255, 255, .35);
      position: absolute;
    }

    .#{$ns}-cropper-selection-guide-x1,
    .#{$ns}-cropper-selection-guide-x2 {
      bottom: 0;
      top: 0;
      width: 1px;
    }

    .#{$ns}-cropper-selection-guide-y1,
    .#{$ns}-cropper-selection-guide-y2 {
      height: 1px;
      left: 0;
      right: 0;
    }

    .#{$ns}-cropper-selection-guide-x1 {
      left: (100% / 3);
    }

    .#{$ns}-cropper-selection-guide-x2 {
      right: (100% / 3);
    }

    .#{$ns}-cropper-selection-guide-y1 {
      top: (100% / 3);
    }

    .#{$ns}-cropper-selection-guide-y2 {
      bottom: (100% / 3);
    }

    .#{$ns}-cropper-selection-top,
    .#{$ns}-cropper-selection-top-left,
    .#{$ns}-cropper-selection-left,
    .#{$ns}-cropper-selection-bottom-left,
    .#{$ns}-cropper-selection-bottom,
    .#{$ns}-cropper-selection-bottom-right,
    .#{$ns}-cropper-selection-right,
    .#{$ns}-cropper-selection-top-right {
      position: absolute;

      .#{$ns}-cropper-selection-handle {
        background-color: #fff;
        height: 9px;
        left: 50%;
        margin-left: -4px;
        margin-top: -4px;
        position: absolute;
        top: 50%;
        width: 9px;
      }
    }

    .#{$ns}-cropper-selection-top {
      cursor: ns-resize;
      height: 9px;
      left: 5px;
      right: 5px;
      top: -5px;
    }

    .#{$ns}-cropper-selection-top-left {
      cursor: nwse-resize;
      height: 9px;
      left: -5px;
      top: -5px;
      width: 9px;
    }

    .#{$ns}-cropper-selection-left {
      bottom: 5px;
      cursor: ew-resize;
      left: -5px;
      top: 5px;
      width: 9px;
    }

    .#{$ns}-cropper-selection-bottom-left {
      bottom: -5px;
      cursor: nesw-resize;
      height: 5px;
      left: -5px;
      width: 9px;
    }

    .#{$ns}-cropper-selection-bottom {
      bottom: -5px;
      cursor: ns-resize;
      height: 9px;
      left: 5px;
      right: 5px;
    }

    .#{$ns}-cropper-selection-bottom-right {
      bottom: -5px;
      cursor: nwse-resize;
      height: 9px;
      right: -5px;
      width: 9px;
    }

    .#{$ns}-cropper-selection-right {
      bottom: 5px;
      cursor: ew-resize;
      right: -5px;
      top: 5px;
      width: 9px;
    }

    .#{$ns}-cropper-selection-top-right {
      cursor: nesw-resize;
      height: 9px;
      right: -5px;
      top: -5px;
      width: 9px;
    }
  }
}
