$ns: mediacat;

.#{$ns}-cropper {
    position: absolute;
    z-index: 1;

    .#{$ns}-cropper-mask {
      background-color: rgba(0, 0, 0, .5);
      position: absolute;
    }

    .#{$ns}-cropper-selection {
      position: absolute;
      border: 1px #fff dashed;

      .#{$ns}-cropper-selection-mover {
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        cursor: move;
        z-index: 1;
      }

      .#{$ns}-cropper-selection-guide-x1,
      .#{$ns}-cropper-selection-guide-x2,
      .#{$ns}-cropper-selection-guide-y1,
      .#{$ns}-cropper-selection-guide-y2 {
        position: absolute;
        background-color: rgba(255, 255, 255, 0.35);
      }

      .#{$ns}-cropper-selection-guide-x1,
      .#{$ns}-cropper-selection-guide-x2 {
        width: 1px;
        top: 0;
        bottom: 0;
      }

      .#{$ns}-cropper-selection-guide-y1,
      .#{$ns}-cropper-selection-guide-y2 {
        height: 1px;
        left: 0;
        right: 0;
      }

      .#{$ns}-cropper-selection-guide-x1 {
        left: (100% / 3);
      }

      .#{$ns}-cropper-selection-guide-x2 {
        right: (100% / 3);
      }

      .#{$ns}-cropper-selection-guide-y1 {
        top: (100% / 3);
      }

      .#{$ns}-cropper-selection-guide-y2 {
        bottom: (100% / 3);
      }

      .#{$ns}-cropper-selection-top,
      .#{$ns}-cropper-selection-top-left,
      .#{$ns}-cropper-selection-left,
      .#{$ns}-cropper-selection-bottom-left,
      .#{$ns}-cropper-selection-bottom,
      .#{$ns}-cropper-selection-bottom-right,
      .#{$ns}-cropper-selection-right,
      .#{$ns}-cropper-selection-top-right {
        position: absolute;

        .#{$ns}-cropper-selection-handle {
          position: absolute;
          width: 9px;
          height: 9px;
          left: 50%;
          top: 50%;
          margin-top: -4px;
          margin-left: -4px;
          background-color: #fff
        }
      }

      .#{$ns}-cropper-selection-top {
        top: -5px;
        left: 5px;
        right: 5px;
        height: 9px;
        cursor: ns-resize;
      }

      .#{$ns}-cropper-selection-top-left {
        top: -5px;
        left: -5px;
        width: 9px;
        height: 9px;
        cursor: nwse-resize;
      }

      .#{$ns}-cropper-selection-left {
        top: 5px;
        left: -5px;
        width: 9px;
        bottom: 5px;
        cursor: ew-resize;
      }

      .#{$ns}-cropper-selection-bottom-left {
        bottom: -5px;
        left: -5px;
        width: 9px;
        height: 5px;
        cursor: nesw-resize;
      }

      .#{$ns}-cropper-selection-bottom {
        bottom: -5px;
        left: 5px;
        right: 5px;
        height: 9px;
        cursor: ns-resize;
      }

      .#{$ns}-cropper-selection-bottom-right {
        bottom: -5px;
        right: -5px;
        width: 9px;
        height: 9px;
        cursor: nwse-resize;
      }

      .#{$ns}-cropper-selection-right {
        top: 5px;
        right: -5px;
        width: 9px;
        bottom: 5px;
        cursor: ew-resize;
      }

      .#{$ns}-cropper-selection-top-right {
        top: -5px;
        right: -5px;
        width: 9px;
        height: 9px;
        cursor: nesw-resize;
      }
    }
  }