.#{$ns}-detail-wrapper {
  background-color: darken(#232830, 10);
  display: flex;
  flex-grow: 1;
  padding: 20px;
  position: relative;
}

.#{$ns}-detail {
  flex-grow: 1;
  position: relative;

  &__proxy-image {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;

    &__placeholder {
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: cover;
      bottom: 0;
      left: 0;
      opacity: 1;
      position: absolute;
      right: 0;
      top: 0;
      transition: opacity 1s ease;
    }

    &__bg {
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: cover;
      bottom: 0;
      left: 0;
      opacity: 0;
      position: absolute;
      right: 0;
      top: 0;
      transition: opacity 1s ease;
      z-index: 1;
    }

    &__image {
      display: block;
      height: 100%;
      opacity: 0;
      width: 100%;
    }
  }
}
