$ns: mediacat;

.#{$ns}-detail-wrapper {
  flex-grow: 1;
  background-color: darken(#232830, 10);
  position: relative;
  padding: 20px;
  display: flex;
}

.#{$ns}-detail, .#{$ns}-filmstrip {
  position: relative;
  flex-grow: 1;

  .detail-proxy-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .detail-proxy-image-placeholder {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 1;
    transition: opacity 1s ease;
  }

  .detail-proxy-image-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 1s ease;
  }

  img {
    width: 100%;
    height: 100%;
    opacity: 0;
    display: block;
  }
}
