.#{$ns}-drag-placeholder {
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  list-style-type: none;
  margin: 0;
  padding: 0;
  pointer-events: none;
  position: absolute;
  transform: scale(.5);
  z-index: 999;

  li {
    margin: 0;
  }
}
