.#{$ns}-information {
  background-color: $sidebar-bg;
  border-left: 1px $seperator-color solid;
  color: $sidebar-text;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  width: $sidebar-width;

  > .#{$ns}-tabs {
    flex-grow: 1;
  }

  .media-rating {
    .icon {
      cursor: pointer;
      font-size: 24px;
    }

    .no-rating {
      opacity: .25;
    }

    .icon-reject {
      opacity: .25;

      &:hover {
        opacity: 1;
      }
    }
  }
}

.#{$ns}-information-panel {
  background-color: $sidebar-bg;
  flex-shrink: 0;
  overflow-y: scroll;
  padding: 10px;
  width: 320px;

  table {
    border: 1px $seperator-color solid;
    width: 100%;
  }

  th, 
  td {
    padding: 5px;
  }

  td {
    width: 100%;
  }
}
