.#{$ns}-information-section {

  &__heading {
    background-color: #3d4859;
    padding: 7px;
    color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 1px 0 0 #232830, 0 -1px 0 0 #232830;
  }

  &__content {
    padding: 7px;
  }
}
