.#{$ns}-proxy-image {
  height: 100%;
  position: relative;
  width: 100%;

  &__bg {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;      
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease;      
    width: 100%;
  }

  &__image {
    display: block;
    position: absolute;      
    user-drag: none;
  }

  &--disable-animation &__bg {
    transition: none;
  }

  &--is-preloaded &__b {
    transition: none;
  }
}
