$ns: mediacat;

.#{$ns}-thumbnail-list {
  margin: 0;
  padding: 10px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.#{$ns}-thumbnail {
  flex-shrink: 0;
  width: 180px;
  max-width: 270px;
  height: 180px;
  background-color: #2b303b;
  padding: 9px;
  margin: 0;
  background-size: cover;
  cursor: pointer;
  border: 1px darken(#2b303b, 5) solid;
  position: relative;

  .dragover-guide {
    position: absolute;
    top: -2px;
    bottom: -2px;
    width: 4px;
    background-color: #3ea2c1;
    z-index: 1;
  }

  .dragover-guide-before {
    left: -3px;
  }

  .dragover-guide-after {
    right: -3px;
  }

  .proxy-image {
    width: 100%;
    height: 100%;
    position: relative;

    .proxy-image-bg {
      background-size: contain;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      opacity: 0;
      width: 100%;
      height: 100%;
      transition: opacity 1s ease;
    }

    .proxy-image-spinner {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 1;
      transition: opacity 1s ease;
      line-height: 100%;
      text-align: center;
      height: 100%;
      width: 100%;
    }

    &.proxy-image-preloaded {
      .proxy-image-bg,
      .proxy-image-spinner {
        transition-property: none;
      }
    }

    img {
      position: absolute;
      display: block;
      user-drag: none;
    }
  }
}

.#{$ns}-thumbnail-selected {
  background-color: lighten(#2b303b, 5);
  border: 1px solid #414858;
}
