.#{$ns}-list--thumbnails {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5px;  
}

.#{$ns}-thumbnail {
  background-color: #2b303b;
  background-size: cover;
  border: 1px darken(#232830, 3) solid;
  cursor: pointer;
  flex-shrink: 0;
  margin: 0;  
  margin-bottom: -1px;
  margin-right: -1px;
  position: relative;

  &--rejected {
    background-color: darken(#2b303b, 4);
  }

  &--selected {
    background-color: #414858;
  }

  &--dragging {
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    pointer-events: none;
    transform: scale(.5);
  }

  &__content {
    height: 180px;
    padding: 9px;
    width: 180px;
  }

  &__footer {
    background-color: rgba(0, 0, 0, .125);
    border-top: 1px darken(#2b303b, 5) solid;
    color: lighten(#2b303b, 20);
    padding: 5px;
    text-align: center;
  }

  &__dragover {
    background-color: #3ea2c1;
    border-radius: 2px;
    bottom: -2px;
    position: absolute;
    top: -2px;
    width: 5px;
    z-index: 2;    

    &--before {
      left: -3px;
    }

    &--after {
      right: -3px;
    }
  }
}
