.#{$ns}-uploads {
  border-top: 1px $seperator-color solid;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;

  > .scrollpane {
    max-height: 200px;
  }
}

.#{$ns}-upload {
  padding: 10px;
}
