.mediacat-application {
  bottom: 0;
  box-sizing: border-box;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  user-select: none;

  *, 
  *:before, 
  *:after {
    box-sizing: border-box;
  }

  &__flex-container {
    bottom: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    user-select: none;
  }
}
