.mediacat-category {
  &__info {
    cursor: pointer;
    display: block;
    font-size: 14px;
    line-height: 22px;
    padding: 4px 20px;
    position: relative;

    &:hover, 
    &--is-hovered {
      background-color: color(var(--slate) lightness(+2.5));
      color: #fff;
    }
  }

  &__handle {
    display: inline-block;
    height: 22px;
    margin-right: 1px;
    opacity: .75;
    text-align: center;
    transition: transform .15s ease;
    vertical-align: bottom;
    width: 22px;

    &:hover {
      transform: rotate(45deg);
    }

    &--is-open {
      transform: rotate(90deg);
    }
  }

  &__count {
    font-size: 12px;
    opacity: .35;
    padding: 5px;
    position: absolute;
    right: 10px;
    top: 0;    
  }

  &__loader {
    opacity: .6;
    position: absolute;
    right: 15px;
    top: 11px;
  }

  &--is-selected > &__info {
    background-color: color(var(--slate) lightness(+10%));
    color: #fff;
    text-shadow: 1px 1px 0 #000;
  } 
}
