.mediacat-cropper {
  position: absolute;
  z-index: 1;

  &__mask {
    background-color: var(--crop-mask-bg);
    position: absolute;    
  }

  &__selection {
    border: 1px #fff dashed;
    position: absolute;
  }

  &__mover {
    bottom: 5px;
    cursor: move;
    left: 5px;
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 1;
  }

  &__guide {
    background-color: rgba(255, 255, 255, .35);
    position: absolute;    

    &--x1,
    &--x2 {
      bottom: 0;
      top: 0;
      width: 1px;
    }

    &--y1,
    &--y2 {
      height: 1px;
      left: 0;
      right: 0;
    }

    &--x1 {
      left: (100% / 3);
    }

    &--x2 {
      right: (100% / 3);
    }

    &--y1 {
      top: (100% / 3);
    }

    &--y2 {
      bottom: (100% / 3);
    }    
  }

  &__selection-handle {
    position: absolute;

    &--top {
      cursor: ns-resize;
      height: 9px;
      left: 5px;
      right: 5px;
      top: -5px;
    }

    &--top-left {
      cursor: nwse-resize;
      height: 9px;
      left: -5px;
      top: -5px;
      width: 9px;
    }

    &--left {
      bottom: 5px;
      cursor: ew-resize;
      left: -5px;
      top: 5px;
      width: 9px;
    }

    &--bottom-left {
      bottom: -5px;
      cursor: nesw-resize;
      height: 5px;
      left: -5px;
      width: 9px;
    }

    &--bottom {
      bottom: -5px;
      cursor: ns-resize;
      height: 9px;
      left: 5px;
      right: 5px;
    }

    &--bottom-right {
      bottom: -5px;
      cursor: nwse-resize;
      height: 9px;
      right: -5px;
      width: 9px;
    }

    &--right {
      bottom: 5px;
      cursor: ew-resize;
      right: -5px;
      top: 5px;
      width: 9px;
    }

    &--top-right {
      cursor: nesw-resize;
      height: 9px;
      right: -5px;
      top: -5px;
      width: 9px;
    }

    &__box {
      background-color: #fff;
      height: 9px;
      left: 50%;
      margin-left: -4px;
      margin-top: -4px;
      position: absolute;
      top: 50%;
      width: 9px;
    }
  }
}
