$header-color: #3ea2c1;

$base-color: #00c0ff;
$sidebar-bg: #2b303b;
$sidebar-fg: #bac5ce;
$primary-bg: #232830;
$seperator-color: desaturate(darken($base-color, 70), 50);

$text-color: #fff;
$background-color: $primary-bg;
