.#{$ns}-button {
  border: 0;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  height: 38px;
  line-height: 38px;
  margin: 0;
  overflow: hidden;
  padding: 0 10px;
  position: relative;
  text-align: center;
  flex-shrink: 0;
  flex-grow: 0;

  &--is-disabled {
    opacity: .5;
  }

  &--theme-white-on-teal {
    background-color: $header-button-bg;
    color: $header-button-text;

    &--is-active {
      background-color: $header-button-active-bg;
      box-shadow: inset 0 1px 0 0 $header-button-active-shadow, 0 1px 0 0 $header-button-active-highlight;
      color: $header-button-active-text;
    }
  }

  &--theme-dark-grey {
    background-color: $panel-toolbar-button-bg;
    border: 1px solid $panel-toolbar-button-border;
    box-shadow: 0 1px 0 0 $panel-toolbar-button-shadow;
    color: $panel-toolbar-button-text;
    height: 30px;
    line-height: 28px;

    &--is-active {
      background-color: $header-button-active-bg;
      box-shadow: 0 1px 0 0 $header-button-active-shadow, inset 0 -1px 0 0 $header-button-active-highlight;
      color: $header-button-active-text;
    }
  }

  &__caption {
    display: inline-block;
    font-weight: 100px;
    line-height: 38px;
    margin-left: 5px;
  }

  &__mask {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  &:hover {
    opacity: .8;
  }

  &:focus {
    outline: none;
  }
}


.#{$ns}-button-group {
  display: flex;
  flex-direction: row;

  .#{$ns}-button {
    border-radius: 0;
    margin-left: 1px;

    &:first-child {
      border-bottom-left-radius: 2px;
      border-top-left-radius: 2px;
      margin-left: 0;
    }

    &:last-child {
      border-bottom-right-radius: 2px;
      border-top-right-radius: 2px;
    }    
  }
}
