.button-wrapper {
  display: inline-block;
}

button,
.button {
  border: 0;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 300;
  height: 37px;
  letter-spacing: .0625em;
  line-height: 27px;
  margin: 0;
  overflow: hidden;
  padding: 5px 50px;
  position: relative;
  text-align: center;

  .button-mask {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  &:hover {
    opacity: .8;
  }

  &:focus {
    outline: none;
  }

  &.disabled {
    cursor: default;
    opacity: .5;

    &:hover {
      opacity: .5;
    }
  }

  &.icon {
    font-size: 24px;
    padding: 5px 10px;
    width: 50px;
  }
}
