.#{$ns}-header {
  background-color: $header-color;
  border-bottom: 1px $seperator-color solid;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  height: 57px;
  line-height: 37px;
  padding: 10px;

  button, 
  .button {
    background-color: #fff;
    box-shadow: 0 1px 0 0 darken(#00c0ff, 20);
    color: desaturate($base-color, 49);

    &.active {
      background-color: darken(#00c0ff, 20);
      box-shadow: inset 0 1px 0 0 darken(#00c0ff, 30), inset 0 -1px 0 0 lighten(#00c0ff, 10);
      color: lighten(desaturate($base-color, 49), 10);
    }

    &.icon {
      font-size: 24px;
    }
  }

  input {
    box-shadow: inset 0 1px 0 0 #89c0d2;
    display: block;
    font-weight: 300;
    height: 30px;
    margin: 0;
    width: 100%;

    &[type=search] {
      border: 0;      
      border-radius: 2px;
      flex-grow: 1;
      font-family: Nunito, sans-serif;
      font-size: 14px;
      height: 37px;
      line-height: 27px;
      padding: 5px 10px 5px 5px;
    }
  }
}
