.#{$ns}-header {
  background-color: $header-bg;
  border-bottom: 1px $seperator-color solid;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  height: 57px;
  line-height: 37px;
  padding: 10px;

  button, 
  .button {
    background-color: $header-button-bg;
    box-shadow: 0 1px 0 0 $header-button-shadow;
    color: $header-button-text;

    &.active {
      background-color: $header-button-active-bg;
      box-shadow: inset 0 1px 0 0 $header-button-active-shadow, inset 0 -1px 0 0 $header-button-active-highlight;
      color: $header-button-active-text;
    }

    &.icon {
      font-size: 24px;
    }
  }

  input {
    box-shadow: inset 0 1px 0 0 $header-button-shadow;
    display: block;
    font-weight: 300;
    height: 30px;
    margin: 0;
    width: 100%;

    &[type=search] {
      border: 0;      
      border-radius: 2px;
      flex-grow: 1;
      font-family: $font-family;
      font-size: $font-size;
      height: 37px;
      line-height: 27px;
      padding: 5px 10px 5px 5px;
    }
  }
}
