.panel {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  > .scrollpane {
    flex-grow: 1;
  }

  .toolbar {
    align-items: stretch;
    background-color: $panel-toolbar-bg;
    border-bottom: 1px $seperator-color solid;
    color: $panel-toolbar-text;
    flex-grow: 0;
    flex-shrink: 0;
    height: 40px;
    line-height: 29px;
    padding: $panel-toolbar-el-spacing;

    .separator {
      width: $panel-toolbar-el-spacing;
    }

    button,
    .button {
      background-color: $panel-toolbar-button-bg;
      border: 1px solid $panel-toolbar-button-border;
      box-shadow: 0 1px 0 0 $panel-toolbar-button-shadow;
      color: $panel-toolbar-button-text;
      height: 100%;
      padding: 0 10px;
      width: auto;

      &[disabled] {
        opacity: .5;
      }

      .icon {
        font-size: 12px;
        padding: 0;
      }
    }
  } 
}
