.scrollpane {
  position: relative;
  flex-grow: 1;

  .scrollpane-scrollbar-handle {
    background-color: #414858;
    box-shadow: inset 1px 1px 0 0 lighten(#393f4d, 10), inset -1px -1px 0 0 darken(#393f4d, 10);
    cursor: pointer;
    opacity: .9;
    position: absolute;
  }   

  .scrollpane-scrollbar {
    background-color: rgba(0, 0, 0, .25);
    position: absolute;

    &:hover {
      .scrollpane-scrollbar-handle {
        opacity: 1;
      }
    }
  } 

  .scrollpane-scrollbar-vertical {
    border-left: 1px solid $seperator-color;
    bottom: 0;
    right: 0;
    top: 0;
    width: $scrollbar-size;

    .scrollpane-scrollbar-handle {
      left: 0;
      right: 0;
    }   
  }

  .scrollpane-scrollbar-track {
    bottom: 2px;
    left: 2px;
    position: absolute;
    right: 2px;
    top: 2px;
  }

  .scrollpane-scrollbar-horizontal {
    bottom: 0;
    height: $scrollbar-size;
    left: 0;
    right: 0;

    .scrollpane-scrollbar-handle {
      bottom: 0;
      top: 0;
    } 

  }

  .scrollpane-viewport {
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
  }

  .scrollpane-viewport-vertical-scrollbar {
    right: $scrollbar-size;
  }

  .scrollpane-viewport-horizontal-scrollbar {
    bottom: $scrollbar-size;
  }
}
