.select {
  background-color: #2b303b;    
  border: 1px solid darken(#2b303b, 7.5);
  border-radius: 2px;
  box-shadow: 0 1px 0 0 darken(#2b303b, 1);
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-size: 14px; 
  position: relative;

  &.disabled {
    opacity: .5;
  }

  &:focus {
    outline: none;
  }

  &.in-focus {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; 
  }

  &.not-in-focus {
    input {
      cursor: default;
    }
  }

  &.fill-width {
    flex-grow: 1;
  }

  .select-value-display {
    flex-grow: 1;
    padding: 0 10px;
  }

  .select-placeholder {
    opacity: .5;
  }

  .select-arrow {
    border-left: 1px solid darken(#2b303b, 7.5);
    display: inline-block;
    flex-grow: 0;
    flex-shrink: 0;
    text-align: center;
    width: 30px;    

    .icon {
      font-size: 12px;
      transform: rotate(90deg);
    }
  }
}

.select-options {
  background: #2b303b;
  border: 1px solid darken(#2b303b, 7.5);
  border-top-width: 0;
  box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
  left: -1px;
  list-style-type: none;
  margin: 0;
  max-height: 305px;
  overflow: auto;
  padding: 0;
  position: absolute;
  right: -1px;
  top: 28px;
  z-index: 2;
}

.select-result {
  cursor: pointer;
  padding: 2px 10px;

  .icon {
    float: right;
  }

  &.selected {
    background: #414858;
  }

  .text-match {
    font-weight: bold;
  }
}
