.#{$ns}-select {
  background-color: #2b303b;    
  border: 1px solid darken(#2b303b, 7.5);
  border-radius: 2px;
  box-shadow: 0 1px 0 0 darken(#2b303b, 1);
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-size: 14px; 
  position: relative;
  line-height: 27px;

  &.#{$ns}-is-disabled {
    opacity: .5;
  }

  &:focus {
    outline: none;
  }

  &--open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; 
  }

  &--stretch {
    flex-grow: 1;
  }

  &__value-label {
    flex-grow: 1;
    padding: 0 10px;
  }

  &__placeholder { 
    opacity: .5;
  }

  &__open-button {
    border-left: 1px solid darken(#2b303b, 7.5);
    display: inline-block;
    flex-grow: 0;
    flex-shrink: 0;
    text-align: center;
    width: 30px;    
  }

  &__options {
    background: #2b303b;
    border: 1px solid darken(#2b303b, 7.5);
    border-top-width: 0;
    box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
    left: -1px;
    list-style-type: none;
    margin: 0;
    max-height: 305px;
    overflow: auto;
    padding: 0;
    position: absolute;
    right: -1px;
    top: 28px;
    z-index: 2;
  }

  &__option {
    cursor: pointer;
    padding: 0 10px;

    &.#{$ns}-is-selected {
      background: #414858;
    }    
  }
}
