.tabs {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0;
  padding: 0;

  .tabs-buttons {
    background-color: #2b303b;
    box-shadow: inset 0 1px 2px 0 darken(#2b303b, 5), inset 0 -1px 2px 0 darken(#2b303b, 2.5);
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    height: 40px;
    list-style-type: none;
    margin: 0;
    padding: 5px;

    .tabs-button {
      align-items: stretch;
      background-color: #2b303b;
      border: 1px solid #414858;
      box-shadow: 0 1px 0 0 darken(#2b303b, 5);
      cursor: pointer;
      flex-grow: 1;
      flex-shrink: 0;
      line-height: 26px;
      margin: 0;
      text-align: center;

      &:first-child {
        border-bottom-left-radius: 2px;
        border-right-width: 0;
        border-top-left-radius: 2px;
      }

      &:last-child {
        border-bottom-right-radius: 2px;
        border-top-right-radius: 2px;
      }

      &:hover {
        background-color: lighten(#2b303b, 5);
      }

    }

    .tabs-button-active {
      background-color: #414858;

      &:hover {
        background-color: #414858;
      }      
    }
  }

  .tabs-panels {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .tabs-panel {
    display: none;
    flex-direction: row;
    flex-grow: 1;
  }

  .tabs-panel-active {
    display: flex;
  }
}
