.#{$ns}-toolbar {
  align-items: stretch;  
  border-bottom: 1px $seperator-color solid;
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  flex-shrink: 0;
  height: 57px;
  line-height: 37px;
  padding: $toolbar-el-spacing;

  &--theme-column {
    background-color: $header-bg;
  }

  &--theme-panel {
    background-color: $panel-toolbar-bg;
    color: $panel-toolbar-text;   
    height: 40px;
    line-height: 29px;
    padding: $panel-toolbar-el-spacing;  
  }

  label {
    display: inline-block;
    margin-right: $toolbar-el-spacing;
  }

  &__spacer {
    flex-grow: 1;
  }

  &__separator {
    flex-grow: 0;
    flex-shrink: 0;
    width: $toolbar-el-spacing;
  }

  select {
    flex-grow: 1;
  }

  .select {
    min-width: 230px;
  }

  .panel > & { 
    .separator {
      width: $panel-toolbar-el-spacing;
    }
  }
}
