.#{$ns}-toolbar {
  align-items: stretch;  
  border-bottom: 1px $seperator-color solid;
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  flex-shrink: 0;
  height: 59px;
  line-height: 38px;
  padding: $toolbar-el-spacing;

  &--theme-white-on-teal {
    background-color: $header-bg;
  }

  &--theme-dark-grey {
    background-color: $panel-toolbar-bg;
    color: $panel-toolbar-text;   
    height: 41px;
    line-height: 30px;
    padding: $panel-toolbar-el-spacing;  
  }

  label {
    display: inline-block;
    margin-right: $toolbar-el-spacing;
  }

  &__title {
    display: inline-block;
    flex-grow: 1;
  }

  &__spacer {
    flex-grow: 1;
  }

  &__separator {
    flex-grow: 0;
    flex-shrink: 0;

    &--theme-white-on-teal {
      width: $toolbar-el-spacing;
    }

    &--theme-dark-grey {
      width: $panel-toolbar-el-spacing;
    }
  }
}
