.mediacat-list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  &--horizontal {
    white-space: nowrap;
  }

  &--is-dragging {
    pointer-events: none;
    position: absolute;
    z-index: 999;
  }

  &__item {
    margin: 0;
    padding: 0;

    &--grid, 
    &--horizontal {
      display: inline-block;
    }
  }
 }
