.mediacat-table {
  border-collapse: collapse;
  color: #8693a6;
  font-weight: 100;
  margin: 0;
  width: 100%;

  th {
    font-weight: 100;
  }

  &--grid {
    th,
    td {
      padding: 5px;
    }
  }

  &--simple {
    tr {
      td,
      th {
        border-bottom: 1px #3d4859 solid;
        line-height: 24px;
        padding: 5px 0;
      }

      &:last-child {
        td,
        th {
          border-bottom-width: 0;
        }
      }
    }

    th {
      color: #8693a6;
      padding-right: 10px;
    }

    td {
      color: #a9b8ce;
      text-align: right;
    }
  }
}
